<template>
    <div>
        <div v-if="detailInfo != null">
          <div >
            입주자: {{ detailInfo.residentName }}<br /><br /><br />
            아이디: {{ detailInfo.username }}<br /><br /><br />
            연락처: {{ detailInfo.phone }}<br /><br /><br />
            주소: {{ detailInfo.address }} {{ detailInfo.aptDong }}동{{ detailInfo.aptNumber }}호<br /><br /><br />
            <el-button  type="primary" @click="moveAdminCoast(detailInfo.id)">관리비 등록</el-button>

          </div>




        </div>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
          id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
          id: null,
            detailInfo: null
        }
    },
    methods: {
      moveAdminCoast(id) {
        let linkBaseUrl = '/customer/admin-coast/'
        this.$router.push(`${linkBaseUrl}${id}`)
      },

        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$testDataConstants.RESIDENT_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.date
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_DETAIL')
    },
}
</script>
<style>
#margin {
  margin: 100px;
}
</style>
