<template>
  <div>
    <div v-if="detailInfo != null">
      입주자: {{ detailInfo.residentName }}</div><br />
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
      <el-row :gutter="8">
        <el-col :span="8">
          <el-form-item label="금액" prop="price">
            <el-input id="hb_title"  v-model="ruleForm.price"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-col>
        <el-form-item>
          <el-button  class="ml-5" type="primary" @click="doSetData()">등록</el-button>
        </el-form-item>
      </el-col>

    </el-form>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  asyncData({ params }) {
    return {
      id: params.id,

    }
  },

  validate({ params }) {
    return /^\d+$/.test(params.id)
  },
  data() {
    return {
      detailInfo: null,
      ruleForm: {
        price: '',
      },
      rules: {
        price: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
        ],
      }
    }
  },

  methods: {
    doSetData() {
      let formName = 'ruleForm'
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.setData()
        } else {
          return false
        }
      })
    },

    setData() {
      let payload = {
        id: this.detailInfo.id,
        data: {
          price: Number(this.ruleForm.price)
        }
      }
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.ADMIN_COAST,payload)
        .then(res => {
          this.$toast.success(res.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          this.$router.replace(`/customer/list`)
        })
        .catch(err => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
    async getDetail() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      await this.$store.dispatch(this.$testDataConstants.RESIDENT_DETAIL, {id: this.id})
        .then((res) => {
          this.detailInfo = res.data.date
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    }
  },
created() {
  this.getDetail()
},

  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'ADMIN_ADD')
  },
}
</script>
<style>
#hb_content {
  height: 400px;
  border-color: black;
}
#hb_title {
  border-color: black;
  width: 200px;
  height: 100px;
}
#btt {
  background: red;
}

</style>
