<template>
  <div id="hb_margin">
    <div v-if="detailInfo != null">
      <div id="hb_header">{{ detailInfo.title }}</div><br />
      <div id="hb_name">{{ detailInfo.userName }} {{ detailInfo.residentGroup }}</div>
      <div id="hb_date">{{ detailInfo.dateCreate }}</div><br />

      <br /><br /><br /><br /><br /><br />
      {{ detailInfo.content }}<br />
      <br /><br /><br /><br /><br /><br /><br /><br />
      <div id="hb_comment">댓글쓰기</div>
      <hr id="hb_hr"/>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
        <el-row :gutter="20">
          <el-col :span="15">
            <el-form-item label="" prop="content">
              <el-input id="hb_contents" type="textarea" v-model="ruleForm.content"></el-input>
            </el-form-item>
          </el-col>
          <el-button id="hb_buttons" type="success" @click.native="doSetDatas()">등록</el-button>
        </el-row>
      </el-form>
      <br /> <br /> <br />
      <div>
                <el-tabs type="card" @tab-click="handleClick">
                  <el-tab-pane label="최신순"></el-tab-pane>
                  <el-tab-pane label="추천순"></el-tab-pane>
                  <el-tab-pane label="사진댓글"></el-tab-pane>
                  <el-tab-pane label="찬반대결"></el-tab-pane>
                </el-tabs>
        <br /><br />
        <div class="hb_count"> {{ list.length}}개의 댓글</div>
        <br /><br />
        <div  v-for="(item, index) in list"
              v-bind:key="index"
        >
          <div class="mb-4">
            <div id="hb_name">{{ item.username}}({{item.residentGroup}})&nbsp;&nbsp;&nbsp;&nbsp; {{ item.dateCreate }}</div><br />
            {{ item.content }}



          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  middleware: 'auth',
  asyncData({ params }) {
    return {
      newsId: params.newsId,

    }
  },

  validate({ params }) {
    return /^\d+$/.test(params.newsId)
  },

  data() {
    return {
      detailInfo: null,
      list: [],
      ruleForm: {
        content: '',

      },
      rules: {
        content: [
          {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          {min: 2, max: 50, message: '2~50자 내로 입력해주세요.', trigger: 'blur'}
        ],

      }
    }
  },

  methods: {
    doSetDatas() {
      let formName = 'ruleForm'
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.setDatas()
        } else {
          return false
        }
      })
    },
    setDatas() {
      let payload = {
        id: this.detailInfo.id,
        data: {
          content: this.ruleForm.content
        }
      }
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.APART_SET_COMMENT, payload)
        .then(res => {
          this.$toast.success(res.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          let linkBaseUrl = '/customer/apart-detail/'
          this.$router.push(`${linkBaseUrl}${newsId}`)
        })
        .catch(err => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },

    async getApartDetail() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      await this.$store.dispatch(this.$testDataConstants.APART_DETAIL, {newsId: this.newsId})
        .then((res) => {
          this.detailInfo = res.data.date
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
    getApartCommentList() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.APART_COMMENT_LIST, {newsId: this.newsId})
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
  },

  created() {
    this.getApartDetail()
    this.getApartCommentList()
  },
  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'APART_DETAIL')
  },
}

</script>
<style>
#hb_header {
  font-size: 30px;
  font-weight: bold;
}
#hb_date {
  margin-left: 500px;
  color: slategray;
}
#hb_name {
  font-size: 12px;
  color: slategray;
}
#hb_margin {
  margin: 100px;
}
#hb_comment {
  font-size: 20px;
  font-weight: bold;
}
#hb_hr{
  background-color:black;
  height:2px;
}
#hb_buttons {
  width: 90px;
  padding: 0px;
  height: 100px;
}
#hb_contents {
  height: 80px;
  border-color: black;
}


</style>
