<template>
  <div id="hb_margin">
    <img id="hb_img" src = "@/static/images/lounge.png" />
    <hr id="hb_hr"/>
    <el-button type="warning" icon="el-icon-edit" @click.native="moveCreate()">글쓰기</el-button><br /><br />
    <div  v-for="(item, index) in list"
          v-bind:key="index"

    >
      <div class="mb-4">
        &nbsp;&nbsp;
        {{ item.title}}&nbsp;&nbsp
        <el-button id="hb_button"  type="text" icon="el-icon-arrow-right"  @click.native="moveCategoryDetail(item.meetingId)"></el-button>
      </div>
      <hr />
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  asyncData({ params }) {
    return {
      categoryValue: params.categoryValue,

    }
  },

  data() {
    return {
      categoryValue: null,
      detailInfo: null,
      list: [],
    }
  },
  methods: {

    moveCreate(category) {
      let linkBaseUrl = '/customer/category-form/'
      this.$router.push(`${linkBaseUrl}${category}`)
    },
    moveCategoryDetail(meetingId) {
      let linkBaseUrl = '/customer/category-detail/'
      this.$router.push(`${linkBaseUrl}${meetingId}`)
    },

    getCategoryList() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.CATEGORY_BULLETIN,{categoryValue: this.categoryValue})
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },

  },
  created() {
    this.getCategoryList()
  },
  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CATEGORY_BULLETIN')
  },

}
</script>
<style>
#hb_button {

  color: black;
}
#hb_margin {
  margin-left: 100px;
  margin-right: 100px;
}

#hb_img {
  margin-left: 40px;
  margin-top: 20px;
}
#hb_hr{
  background-color:black;
  height:2px;
}
</style>


