<template>
  <div>
    <img id="hb_imgs" src = "@/static/images/apt.png" />
  </div>

</template>
<script>
export default {
    middleware: 'auth',
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
<style>

#hb_imgs {
  width: 1100px;
  margin-left: 40px;
  margin-top: 20px;
}
</style>
