<template>
  <div>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
      <el-row :gutter="15">
        <el-col :span="15">
          <el-form-item label="제목" prop="title">
            <el-input id="hb_title"  v-model="ruleForm.title"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <br /><br /><br />
      <el-row :gutter="15">
        <el-col :span="15">
          <el-form-item label="내용" prop="content">
            <el-input id="hb_content" type="textarea" v-model="ruleForm.content"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <br />
      <el-col>
        <el-form-item>
          <el-button class="ml-6" type="primary" @click="doSetData()">등록</el-button>
        </el-form-item>
      </el-col>

    </el-form>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  asyncData({ params }) {
    return {
      category: params.category,

    }
  },

  data() {
    return {
      categoryValue: null,
      ruleForm: {
        title: '',
        content: '',
      },
      rules: {
        title: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
        ],
        content: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:100, message:'2~100자 내로 입력해주세요.', trigger: 'blur'}
        ],
      }
    }
  },

  methods: {
    doSetData() {
      let formName = 'ruleForm'
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.setData()
        } else {
          return false
        }
      })
    },

    setData() {
      let payload = {
        data: {
          title: this.ruleForm.title,
          content: this.ruleForm.content
        },
        category: this.category,

      }
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.CATEGORY_SET,payload)
        .then(res => {
          this.$toast.success(res.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          this.$router.replace(`/customer/category-bulletin`)
        })
        .catch(err => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
    async getDetail() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      await this.$store.dispatch(this.$testDataConstants.CATEGORY_DETAIL, {id: this.id})
        .then((res) => {
          this.detailInfo = res.data.date
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    }
  },
  created() {
    this.getDetail()
  },

  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CATEGORY_SET')
  },
}
</script>
<style>
#hb_content {
  height: 400px;
  border-color: black;
}
#hb_title {
  border-color: black;
  width: 200px;
  height: 100px;
}
#btt {
  background: red;
}

</style>
