<template>
  <div id="hb_margin">
    <img id="hb_img" src = "@/static/images/apart.png" /><br /><br /><br />
    <el-button type="warning" icon="el-icon-edit" @click.native="moveCreate()">글쓰기</el-button><br /><br />
    <div class="mb-4">
      <el-button type="text" @click.native="getList()">모든소식</el-button>
      <el-button type="text" @click.native="getSchedule()">예정</el-button>
      <el-button type="text" @click.native="getProgress()">진행</el-button>
      <el-button type="text" @click.native="getCompletion()">완료</el-button>
    </div>
    <hr />
    <div  v-for="(item, index) in list"
          v-bind:key="index"

    >
      <div class="mb-4">
        {{ item.title}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ item.newsState}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <el-button id="hb_button"  type="text" icon="el-icon-arrow-right"  @click.native="moveDetail(item.newsId)"></el-button>
      </div>
      <hr />
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      list: [],
    }
  },
  methods: {
    moveCreate() {
      this.$router.push('/customer/form')
    },

    moveDetail(newsId) {
      let linkBaseUrl = '/customer/apart-detail/'
      this.$router.push(`${linkBaseUrl}${newsId}`)
    },

    getList() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.APART_LIST)
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
    getSchedule() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.APART_SCHEDULE)
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },

    getProgress() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.APART_PROGRESS)
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },

    getCompletion() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.APART_COMPLETION)
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
  },
  created() {
    this.getList()
    this.getSchedule()
    this.getProgress()
    this.getCompletion()
  },
  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'APART_LIST')
  },

}
</script>
<style>
#hb_button {

  color: black;
}
#hb_margin {
  margin-left: 100px;
  margin-right: 100px;
}

#hb_img {
  width: 800px;
  margin-left: 40px;
  margin-top: 20px;
}
</style>


