<template>
  <div id="hb_margin">
    <img id="hb_img" src = "@/static/images/lounge.png" />
    <hr id="hb_hr"/>
    <div  v-for="(item, index) in list"
          v-bind:key="index"

    >
      <div class="mb-4">
       &nbsp;&nbsp;&nbsp;&nbsp;<strong>[{{ item.category }}]</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{ item.categoryTitle}}&nbsp;&nbsp; {{ item.categorySubTitle}}&nbsp;&nbsp &nbsp;
        <el-button id="hb_button"  type="text" icon="el-icon-arrow-right"  @click.native="moveBulletin(item.categoryValue)"></el-button>
      </div>
      <hr />
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      list: [],
    }
  },
  methods: {
    moveBulletin(categoryValue) {
      let linkBaseUrl = '/customer/category-bulletin/'
      this.$router.push(`${linkBaseUrl}${categoryValue}`)
    },

    getList() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.CATEGORY_LIST)
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },

  },
  created() {
    this.getList()
  },
  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CATEGORY_LIST')
  },

}
</script>
<style>

#hb_margin {
  margin-left: 100px;
  margin-right: 100px;
}

#hb_img {
  margin-left: 40px;
  margin-top: 20px;
}
#hb_hr{
  background-color:black;
  height:2px;
}
</style>


