<template>
    <div id="hb_margin">
      <img id="hb_img" src = "@/static/images/complain.png" />
      <div class="mb-4">
        <el-button type="text" @click.native="getList()">모든민원</el-button>
        <el-button type="text" @click.native="getResister()">접수</el-button>
        <el-button type="text" @click.native="getProgress()">진행</el-button>
        <el-button type="text" @click.native="getCompletion()">완료</el-button>
      </div>
      <hr />
       <div  v-for="(item, index) in list"
             v-bind:key="index"

       >
         <div class="mb-4">
           {{ item.title}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ item.serviceState }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <el-button id="hb_button"  type="text" icon="el-icon-arrow-right"  @click.native="moveDetail(item.complainId)"></el-button>
        </div>
         <hr />
       </div>
    </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      list: [],
    }
  },
  methods: {
    moveDetail(complainId) {
      let linkBaseUrl = '/customer/complain-detail/'
      this.$router.push(`${linkBaseUrl}${complainId}`)
    },

    getList() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.COMPLAIN_LIST)
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
    getResister() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.COMPLAIN_REGISTER)
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },

    getProgress() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.COMPLAIN_PROGRESS)
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },

    getCompletion() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.COMPLAIN_COMPLETION)
        .then((res) => {
          this.list = res.data.list
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
        .catch((err) => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
  },
    created() {
      this.getList()
      this.getResister()
      this.getProgress()
      this.getCompletion()
    },
    mounted() {
      this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COMPLAIN_LIST')
    },

}
</script>
<style>
#hb_button {

  color: black;
}
#hb_margin {
  margin-left: 100px;
  margin-right: 100px;
}

#hb_img {
  margin-left: 40px;
  margin-top: 20px;
}
</style>


