<template>
    <div>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
        <el-row :gutter="15">
          <el-col :span="15">
              <el-form-item label="제목" prop="title">
                <el-input id="hb_title"  v-model="ruleForm.title"></el-input>
              </el-form-item>
          </el-col>
        </el-row>
        <br /><br /><br />
        <el-row :gutter="15">
          <el-col :span="15">
            <el-form-item label="내용" prop="content">
              <el-input id="hb_content" type="textarea" v-model="ruleForm.content"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <br />
          <el-col>
            <el-form-item>
              <el-button class="ml-6" type="primary" @click="doSetData()">등록</el-button>
            </el-form-item>
          </el-col>

      </el-form>
    </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      ruleForm: {
        title: '',
        content: '',
      },
      rules: {
        title: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
        ],
        content: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:100, message:'2~100자 내로 입력해주세요.', trigger: 'blur'}
        ],
      }
    }
  },

  methods: {
    doSetData() {
      let formName = 'ruleForm'
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.setData()
        } else {
          return false
        }
      })
    },
    setData() {
      let payload = {
        title: this.ruleForm.title,
        content: this.ruleForm.content
      }
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.APART_SET,payload)
        .then(res => {
          this.$toast.success(res.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          this.$router.replace(`/customer/apt-list`)
        })
        .catch(err => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
  },

  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'APART_ADD')
  },
}
</script>
<style>
#hb_content {
  height: 400px;
  border-color: black;
}
#hb_title {
  border-color: black;
}
#ml {
  margin-left: 100px;
}

</style>
