<template>
    <div>
        <div
            v-for="(item, index) in list"
            v-bind:key="index"
        >
              <div class="mb-2">
                입주자 : {{ item.residentName }}
                <div>
                </div>
              </div>
            주소 : {{ item.address }} {{ item.aptDong}}동 {{ item.aptNumber }}호<br />
          <div class="mt-2, ml-7">
            <el-button   type="success"  circle @click.native="moveDetail(item.id)">상세정보</el-button><br />
          </div>
            <hr />
        </div>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    data() {
        return {
            list: []
        }
    },
    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$testDataConstants.RESIDENT_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

        moveDetail(id) {
            let linkBaseUrl = '/customer/detail/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },

    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    },

}
</script>
<style>

</style>
