<template>
  <div>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
      <el-row :gutter="15">
        <el-col :span="15">
          <el-form-item label="아이디" prop="username">
            <el-input id="hb_titles"  v-model="ruleForm.username"></el-input>
          </el-form-item>
        </el-col>
      </el-row><br />
      <el-form-item label="비밀번호" prop="password">
        <el-input id="hb_titles"  v-model="ruleForm.password"></el-input>
      </el-form-item><br />
      <el-form-item label="비밀번호확인" prop="passwordRe">
        <el-input id="hb_titles"  v-model="ruleForm.passwordRe"></el-input>
      </el-form-item><br />
      <el-form-item label="이름" prop="residentName">
        <el-input id="hb_titles"  v-model="ruleForm.residentName"></el-input>
      </el-form-item><br />
      <el-form-item label="주소" prop="address">
        <el-input id="hb_titles"  v-model="ruleForm.address"></el-input>
      </el-form-item><br />
      <el-form-item label="동" prop="aptDong">
        <el-input id="hb_titles"  v-model="ruleForm.aptDong"></el-input>
      </el-form-item><br />
      <el-form-item label="호" prop="aptNumber">
        <el-input id="hb_titles"  v-model="ruleForm.aptNumber"></el-input>
      </el-form-item><br />
      <el-form-item label="연락처" prop="phone">
        <el-input id="hb_titles"  v-model="ruleForm.phone"></el-input>
      </el-form-item><br />
      <el-form-item label="관리자여부" prop="residentGroup">
        <el-input id="hb_titles"  v-model="ruleForm.residentGroup"></el-input>
      </el-form-item>
      <br />
      <br />
      <el-col>
        <el-form-item>
          <el-button class="ml-8" type="primary" @click="doSetData()">등록</el-button>
        </el-form-item>
      </el-col>

    </el-form>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      ruleForm: {
        username: '',
        password: '',
        passwordRe: '',
        residentName: '',
        address: '',
        aptDong: '',
        aptNumber: '',
        phone: '',
        residentGroup: '',
      },
      rules: {
        username: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
        ],
        password: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
        ],
        passwordRe: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
        ],
        residentName: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
        ],
        address: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
        ],
        aptDong: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
        ],

        aptNumber: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:100, message:'2~100자 내로 입력해주세요.', trigger: 'blur'}
        ],

        phone: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:100, message:'2~100자 내로 입력해주세요.', trigger: 'blur'}
        ],

        residentGroup: [
          { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
          { min:2, max:100, message:'2~100자 내로 입력해주세요.', trigger: 'blur'}
        ],
      }
    }
  },

  methods: {
    doSetData() {
      let formName = 'ruleForm'
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.setData()
        } else {
          return false
        }
      })
    },
    setData() {
      let payload = {
        data: {
          username: this.ruleForm.username,
          password: this.ruleForm.password,
          passwordRe: this.ruleForm.passwordRe,
          residentName: this.ruleForm.residentName,
          address: this.ruleForm.address,
          aptDong: this.ruleForm.aptDong,
          aptNumber: this.ruleForm.aptNumber,
          phone: this.ruleForm.phone,
        },
          residentGroup: this.ruleForm.residentGroup
      }



      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.MEMBER_SET,payload)
        .then(res => {
          this.$toast.success(res.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          this.$router.replace(`/customer/list`)
        })
        .catch(err => {
          this.$toast.error(err.response.data.msg)
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        })
    },
  },

  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_ADD')
  },
}
</script>
<style>
#hb_content {
  height: 400px;
  border-color: black;
}
#hb_titles {
  border-color: black;
  width: 300px;
  height: 400px;
  border-width: 2px;
}

</style>
